<template>
<q-page class="flex flex-center">
    <div class="q-pa-md">
          <div class="q-gutter-y-md column" style="max-width: 300px">
              <h1>Supabase + Vue 3</h1>
              <p>Sign in via magic link with your email below</p>
                <q-form
                  @submit="onSubmit"
                  class="q-gutter-md"
                  @submit.prevent="handleLogin"
                >
                  <q-input v-model="email" filled type="email" placeholder="Email" />
                  <q-btn color="primary" :disabled="loading" :label="loading ? 'Loading' : 'Send magic link'" type="submit" rounded></q-btn>

              </q-form>
          </div>
    </div>
</q-page>
</template>

<script setup>
import { ref } from 'vue';
import { supabase } from "../supabase";

const loading = ref(false)
const email = ref('')

function onSubmit () {
  loading.value = !loading.value
}

const handleLogin = async () => {
  try {
    loading.value = true
    const { error } = await supabase.auth.signIn({email: email.value})
    if (error) throw error
    alert("Check your email for the login link!")
  } catch (error) {
    alert(error.error_description || error.message)
  } finally {
    loading.value = false
  }

  return  {
    loading,
    email,
    handleLogin
  }
}

</script>

