<template>
<q-page class="flex flex-center">
<div class="q-pa-md">

<!-- TODO: Read into q-pa-md and what that does and means -->
  <div class="q-gutter-y-md column" style="max-width: 300px">
    <q-form @submit.prevent="updateProfile">
      <q-input v-model="email" filled type="email" placeholder="Email"></q-input>
      <q-input v-model="username" filled placeholder="Username"></q-input>
      <q-input v-model="website" filled type="url" placeholder="Website"></q-input>
      <q-btn color="primary" :disabled="loading" :label="loading ? 'Loading' : 'Update'" type="submit" rounded></q-btn>
      <q-btn color="secondary" :disabled="loading" rounded label="Sign Out"></q-btn>
    </q-form>
    </div>
  </div>
</q-page>
</template>


<script setup>
import { onMounted, ref } from 'vue'
import { supabase } from '../supabase'
import { useUserStore } from '../stores/userStore'

const loading = ref(true)
const email = ref('')
const username = ref('')
const website = ref('')
const avatar_url = ref('')

const store = useUserStore()
async function getProfile() {
  try {
    loading.value = true
    store.user = supabase.auth.user()

    let { data, error, status } = await supabase
      .from("profiles")
      .select('username, website, avatar_url')
      .eq("id", store.user.id)
      .single()

    if ( error && status !== 406 ) throw error

    if ( data ) {
      username.value = data.username
      website.value = data.website
      avatar_url.value = data.avatar_url
    }
  } catch ( error ) {
    alert(error.message)
  } finally {
    loading.value = false
  }
}

async function updateProfile() {
  try {
    loading.value = true
    store.user = supabase.auth.user()

    const updates = {
      id: store.user.id,
      username: username.value,
      website: website.value,
      avatar_url: avatar_url.value,
      updated_at: new Date(),
    }

    let { error } = await supabase.from('profiles').upsert(updates, {
      returning: "minimal"
    })

    if ( error ) throw error
  } catch ( error ) {
    alert(error.message)
  } finally {
    loading.value = false
  }
}

async function signOut() {
  try {
    loading.value = true
    let { error } = await supabase.auth.signOut()
    if ( error ) throw error
  } catch ( error ) {
    alert(error.message)
  } finally {
    loading.value=false
  }
}

onMounted(() => {
  getProfile()
})



</script>
