<template>
  <router-view />
</template>

<script>
import { defineComponent } from 'vue'
import { useUserStore } from './stores/userStore'
import { supabase } from './supabase'

const store = useUserStore()
store.user = supabase.auth.user()
supabase.auth.onAuthStateChange((_, session) => {
  useUserStore.user = session.user
})

export default defineComponent({
  name: 'App'
})
</script>
